USE [master]
GO
/****** Object:  Database [RENTAL_DESKTOP]    Script Date: 23/05/2023 18:21:55 ******/
CREATE DATABASE [RENTAL_DESKTOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RENTAL_DESKTOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RENTAL_DESKTOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RENTAL_DESKTOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RENTAL_DESKTOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RENTAL_DESKTOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RENTAL_DESKTOP]
GO
/****** Object:  Table [dbo].[RENT]    Script Date: 23/05/2023 18:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [varchar](77) NULL,
	[CheckIn] [date] NULL,
	[CheckOut] [date] NULL,
	[IdSpot] [int] NULL,
	[Importe] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPOT]    Script Date: 23/05/2023 18:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPOT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Spots] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RENT] ON 

INSERT [dbo].[RENT] ([Id], [Cliente], [CheckIn], [CheckOut], [IdSpot], [Importe]) VALUES (1, N'Cliente 1', CAST(N'2023-05-23' AS Date), CAST(N'2023-05-05' AS Date), 1, 1000.0000)
INSERT [dbo].[RENT] ([Id], [Cliente], [CheckIn], [CheckOut], [IdSpot], [Importe]) VALUES (2, N'Cliente 2', CAST(N'2023-05-01' AS Date), CAST(N'2023-05-07' AS Date), 2, 2000.0000)
INSERT [dbo].[RENT] ([Id], [Cliente], [CheckIn], [CheckOut], [IdSpot], [Importe]) VALUES (3, N'Cliente 3', CAST(N'2023-06-01' AS Date), CAST(N'2023-06-04' AS Date), 3, 3000.0000)
SET IDENTITY_INSERT [dbo].[RENT] OFF
GO
SET IDENTITY_INSERT [dbo].[SPOT] ON 

INSERT [dbo].[SPOT] ([Id], [Spots]) VALUES (1, N'Loft')
INSERT [dbo].[SPOT] ([Id], [Spots]) VALUES (2, N'Depto')
INSERT [dbo].[SPOT] ([Id], [Spots]) VALUES (3, N'Cabaña')
SET IDENTITY_INSERT [dbo].[SPOT] OFF
GO
USE [master]
GO
